*{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 15px;
    font-family: verdana;
    font-family: verdana ;
    color: #fff;
}

.container{
    display: flex;
    width: 75%;
    height: 560px;
    margin:0 auto;
    background:black ;
}

.image{
    width: 60%;
    height: 560px;
}

.formulaire{
    width: 40%;
    height: 560px;
    opacity: 0.9;
}

.centre{
    width: 90%;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 9%;
    margin-bottom: 7%;
}

.image img{
    width: 100%;
    height: 560px;
}

.inp1{
    background-color:black ;
    width: 55%;
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}

input::placeholder{
    color: #fff;
    opacity: 1;
}

input:focus{
    outline: none;
}

.inp1 {
    width: 90%;
    height: 30px;
    color: #fff;
    font-size: 12px;

}

.inp11{
    width: 90%;
    height: 30px;
    color: #fff;
    font-size: 12px;
    background-color:black ;
    border: 2px solid rgb(231, 168, 31);
    border-top: none;
    border-left: none;
    border-right: none;
}

label{
    color:rgb(231, 168, 31) ;
    font-size: 12px;
    margin-bottom: 7px;
}

h1{
    font-size: medium;
    text-align: center;
}

.momo{
    color: #000;
    display: flex;
    width: 85%;
    height: 60px;
    justify-content: space-between;
    font-weight: bold;
}

.omo1, .omo3, .omo4, .omo5{
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.momo .p1{
    padding-top: 9px;
}

.omo2{
    width: 40px;
    height: 40px;
    background-color: #000;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 5px;
}

.omoo{
    display: flex;
    width: 120px;
    height: 48px;
    background-color: rgb(238, 209, 131);
    text-align: center;
    color: #fff;
    border-radius: 25px;
}

.omoo .p2{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 13px;
}

.bouton input{
    width: 125px;
    height: 40px;
    background-color: rgb(201, 173, 98);
    color: rgba(255, 255, 255, 0.856);
    font-size: 15px;
    font-weight: bold;
}

.p3{
    font-size: 12px;
    color: rgb(231, 168, 31);
}
 /*--------------media queries-----------*/

 @media screen and (max-width:835px) {
    .container{
        display: flex;
        width: 66%;
        height: auto;
        margin:0 auto;
        background:black ;
        flex-direction: column;
    }
    .formulaire{
    width: 100%;
    height: auto;
    opacity: 0.9;
    }

    .image{
        width: 100%;
        height: 400px;
    }

    .image img{
        width: 100%;
        height: 400px;
    }
 }

  /*--------------media queries-----------*/

  @media screen and (max-width:520px) {
    .container{
        display: flex;
        width: 85%;
        height: auto;
        margin:0 auto;
        background:black ;
        flex-direction: column;
    }
    .formulaire{
    width: 100%;
    height: auto;
    opacity: 0.9;
    }

    .image{
        width: 100%;
        height: 400px;
    }

    .image img{
        width: 100%;
        height: 400px;
    }
 }